@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Dancing+Script:wght@500&display=swap');
/*font-family: bungee, sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
/*font-family: 'Oswald', sans-serif;*/

/*======================================Header===================================*/
:root{
    --bs-warning: #cfaa58 !important;
    --bs-white: #ffffff;
    --bs-gray-500: #6c757d;
}
.footerLinks{
    text-decoration: none;
    color: var(--bs-gray-500);
}
.footerLinks:hover{
    color: var(--bs-warning);
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}
.bg-body-tertiary{
    background-color: transparent !important;
}
#header-home{
    background-image: url(../../IMG/editMusic.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
.nav-link{
    color: var(--bs-white) !important;
}
.dropdown-item{
    color: white !important;
}
.active:hover{
    color: black !important;
    background-color: white;
}
.dropdown-item:hover{
    color: black !important;
}
.title, .navbar-toggler-icon{
    color: var(--bs-warning);
    text-transform: uppercase;

}
.msg-container{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 10px;
    max-width: 550px !important;
    margin-top: 25% !important;
    margin-left: 5% !important;
    padding-top: 20px;
    padding-bottom: 8px;
}
.msg-container > *{
    max-width: 500px !important;
}
.msg-title{
    text-transform: uppercase;
    color: var(--bs-warning);
}
.msg{
    font-size: 18px;
    font-weight: 700;
}
nav{
    text-transform: uppercase !important;
}
.beut{
    width: 20%;
}
.btn-dark {
    background-color: rgba(0, 0, 0, 0.8) !important;
    border: #ffffff solid 1px !important;
}
/*==================================Main===========================================*/
.title{
    font-size: 40px;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    text-shadow:
        -1.5px -1.5px 0 black,
        1.5px -1.5px 0 black,
        -1.5px 1.5px 0 black,
        1.5px 1.5px 0 black;
}
.box{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.img-box{
    padding: 50px;
}
.img-box > img{
    width: 200px !important;
}
.text-box{
    padding: 8px 10px 8px 20px;
}
.administration{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1% !important;
}
.administration > div > *{
    border: solid black 1.5px;
    padding: 10px !important;
}
.imgPub{
    display: flex;
    justify-content: space-around;
    padding: 3%;
}
.logoDist{
    width: 300px;
    height: auto;
}
.first-p, .second-p, .third-p{
    padding: 1% !important;
    max-width: 29% !important;
}
.first-p > h4, .second-p > h4, .third-p > h4{
    color: #0e76a8;
}
.graffica-scroll-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.678);
    border: 0.5px solid black;
    outline: none;
    transition: transform 0.3s ease-in-out;
    font-size: 30px;
}

.graffica-scroll-button:hover {
    transform: scale(1.1);
}

.graffica-scroll-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.triangle {
    width: auto;
    height: 800px;
    background: linear-gradient(to bottom left, #fff 0%, #fff 50%, #4472c4 50%, #4472c4 100%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.triangle-text{
    text-align: right;
    margin-left: 50%;
    max-width: 50%;
}
.poligone{
    width: auto;
    height: 650px;
    background: linear-gradient(to bottom right, #fff 0%, #fff 50%, #4472c4 50%, #4472c4 100%);
    background-size: 80% 100%;
    background-repeat: no-repeat;
    background-position: 100% 0;
}
.poligone-text{
    text-align: left;
    margin-right: 50%;
    max-width: 50%;
}
.poligone-end{
    width: auto;
    height: 100px;
    background-color: #4472c4;
    z-index: -999999 !important;
    
}
.first-p, .second-p, .third-p{
    padding: 1% !important;
    border: solid black 1.5px;
    max-width: 29% !important;
    color: #3b5998;
    font-weight: 550;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
}
.last_button > a{
    color: var(--bs-warning) !important;
    text-transform: uppercase !important;
    font-family: 'Caveat', cursive !important;
    padding-top: 140px !important;
    font-size: 50px !important;
    min-width: 100% !important;
    min-height: 400px !important;
}
.last_button > a:hover{
    color: black !important;
    background-color: white !important;
}
.container-cat{
    max-width: 90% !important;
    margin-left: 5% !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-cat > h3{
    font-size: 300%;
    color: var(--bs-warning);
}
.content-cat{
<<<<<<< HEAD
    padding: 4% 5% 4% 4% !important;
=======
    max-width: 75% !important;
    padding: 1% !important;
>>>>>>> ff4cfcbe80a3d81d7a2b0e3cbbb4daddde71d1ab
    background-color: rgba(0, 183, 255, 0.5);
    border-radius: 10px;
}
#content-cat{
    margin-right: 7% !important;
    padding: 4% 5% 4% 3% !important;
}
.content-cat > p{
    font-size: 150%;
    font-weight: 500;
}
.content-cat > ul > li{
    font-size: 150%;
    font-weight: 500;

}
.artists-img{
    display: flex;
    justify-content: space-evenly;
}
.artists-img > img{
    width: 500px !important;
    height: auto !important;
}
.title_info{
    border: solid black 1.5px;
    padding: 1%;
    max-width: 10%;
    background-color: rgb(103, 103, 103);
    color: var(--bs-warning);
    font-weight: 600;
    font-size: 20px;
}
.container-tv{
    max-width: 98% !important;
    margin-left: 1% !important;
    display: flex;
    justify-content: space-between;

}
.content-droit > p{
    font-size: 130%;
    font-weight: 500;
}
.container-netflix{
    min-width: 60% !important;
    background-image: url(../../IMG/Netflix.png);
    background-size: cover;
    background-position: center;
    padding: 2%;
}
.container-netflix > h1{
    color: var(--bs-warning);
    margin-left: 45%;
    font-size: 300%;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 50% !important;
    border-radius: 10px;
    padding: 1%;

}
.container-netflix > ul{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    max-width: 25%;
    padding: 1%;
}
.container-netflix > ul > li{
    color: #ffffff;
    font-size: 150%;
    font-weight: 700;
}
.container-netflix > img{
    width: 200px !important;
    height: auto !important;
}
.container-estelle{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-left: 1% !important;
    min-width: 40% !important;
}
.container-estelle > img{
    width: 96% !important;
    height: auto !important;
}
.estelle-text{
    margin-left: 1% !important;
    max-width: 98% !important;
}
.estelle-text > h4{
    color: var(--bs-warning);
    font-size: 200%;
    font-weight: 700;
}
.estelle-text > p{
    font-size: 150%;
    font-weight: 450;
}
.glow {
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 65% !important;
    padding: 1% !important;
    margin-left: 25%;
    font-size: 300% !important;
    text-transform: uppercase !important;
    color: #fff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
.catalogue{
    display: flex;
    justify-content: space-evenly;
    margin-left: 1% !important;
    max-width: 96% !important;
}
.photo-cat{
    width: 24% !important;
    height: 24% !important;
}
.photo-cat > img{
    width: 100% !important;
    height: auto !important;
}
.poligone-end{
    width: auto;
    height: 50px;
    background-color: #4472c4;
    
}
.last_button{
    display: flex;
    justify-content: center;
    margin: 2% 0 2% 0;
}
.last_button > a{
    color: var(--bs-warning) !important;
    text-transform: uppercase !important;
    font-family: 'Caveat', cursive !important;
    padding-top: 140px !important;
    font-size: 50px !important;
    min-width: 100% !important;
    min-height: 400px !important;
}
.last_button > a:hover{
    color: black !important;
    background-color: white !important;
}
.secondary_title{
    color: var(--bs-warning) !important;
}
/*==================================Footer==========================================*/
footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.social > li{
    list-style: none;
    margin-left: 8px;
    margin-right: 8px;
    display: inline;
}
.social > li > a > i{
    font-size: 2em;
    color: lightgray;
}
.social li:nth-child(1){
    max-width: 2em !important;
    content: "\f09a";
    color: #3b5998;
    border-bottom: 4px solid #3b5998;
}
.social li:nth-child(2){
    max-width: 2em !important;
    content: "\f09a";
    color: #dd2a7b;
    border-bottom: 4px solid #dd2a7b;
}
.social li:nth-child(3){
    max-width: 2em !important;
    content: "\f09a";
    color: #c4302b;
    border-bottom: 4px solid #c4302b;
}
.social li:nth-child(4){
    max-width: 2em !important;
    content: "\f09a";
    color: #fe6d35;
    border-bottom: 4px solid #fe6d35;
}
.social li:nth-child(5){
    max-width: 2em !important;
    content: "\f09a";
    color: #0e76a8;
    border-bottom: 4px solid #0e76a8;
}
.unchained{
    width: 2em !important;
    height: 2em !important;
    display: inline-grid;
    padding: 16px !important;
    margin-bottom: -3% !important;
    background-size: cover;
    background-image: url(../../IMG/unchainedMusic.png);
    border-bottom: 4px solid #b50181;
}
.unchained:hover{
    background-image: url(../../IMG/unchianedMusic_hover.png);
}
.footerList > li > a{
    color: white !important;
    text-decoration: none !important;
}
.footerList > li > a:hover{
    color: var(--bs-warning) !important;
}
.break {
    flex-basis: 100%;
    height: 0;
}
.copyR{
    color: lightgray;
}
.footerList > li > h4{
    color: var(--bs-warning) !important;
}
/*WideScreen*/
@media only screen and (min-width:1600px){
    .single-artist{
        margin-left: 18% !important;
    }    
}

@media only screen and (min-width:992px){
    .collapse{
        margin-left: 20% !important;
    }
}
/*galaxyFold*/
@media only screen and (max-width:670px){
    .title{
        font-size: 25px;
    }
    
    .box{
        flex-direction: column;
    }
    .text-box{
        border: none !important;
    }
    .img-box{
        border: none !important;
    }
    .administration{
        flex-direction: column;
    }
    .single-artist{
        margin-left: 1.5% !important;
    }
    .lLine{
        font-size: 10px;
    }
    .first-p > h4, .second-p > h4, .third-p > h4{
        font-size: 12.4px;
    }
    .pArtists-container{
        flex-direction: column;
    }
    .pArtists-container > img{
        width: 250px !important;
        height: 250px !important;
        margin-top: 10% !important;
    }
    .triangle{
        height: 2000px;
    }
    
    .triangle{
        height: 750px !important;
        background-size: 50% 100%;
    }
    .triangle-text{
        font-size: 12px;
    }
    .poligone{
        height: 700px !important;
        background-size: 65% 100%;
    }
    .poligone-text{
        font-size: 12px;
    }
    .cards-container{
        flex-direction: column;
    }
    .card{
        margin-top: 10% !important;
    }
    .container-cat{
        flex-direction: column;
    }
    .title-cat > h3{
        font-size: 250%;
    }
    .content-cat{
        padding: 5% !important;
    }
    .content-cat > p{
        font-size: 100%;
        font-weight: 480;
    }
    .artists-img{
        flex-direction: column;
    }
    .artists-img > img{
        margin-top: 10% !important;
        width: 300px !important;
    }
    #container-cat{
        flex-direction: column-reverse !important;
    }
    .title_info{
        font-size: 20px;
        margin-left: 0px;
        max-width: 96% !important;
    }
    .content-droit{
        padding: 5% !important;
    }
    .content-droit > p{
        font-size: 100%;
        font-weight: 480;
    }
    .container-tv{
        margin-left: -4px !important;
        flex-direction: column !important;
        max-width: 100% !important;
    }
    .container-estelle{
        margin-top: 5% !important;
    }
    .container-estelle > img{
        width: 100% !important;
        height: auto !important;
    }
    .glow {
        font-size: 100% !important;
        margin-left: 2% !important;
        max-width: 96% !important;
    }
    .container-netflix > h1{
        margin-top: 1% !important;
        font-size: 200% !important;
        margin-left: 0% !important;
        max-width: 100% !important;
    }
    .container-netflix > ul{
        min-width: 50% !important;
    }
    .container-netflix > img{
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        margin-bottom: 1% !important;
        padding: 0 2% 0 2% !important;
        margin-left: 45% !important;
    }
    .last_button{
        max-width: 96% !important;
        margin-left: 1% !important;
    }
    #content-cat{
        margin-right: 0% !important;
    }
}
@media only screen and (max-width:1120px){
    .parallax{
        width:99%; 
        padding:10px;
        box-sizing: border-box;
        background-attachment: scroll;
        background-position: center;
        min-height: 300px;
        background-size: cover;
        margin-bottom: 10%;
    }
    .fontPub{
        font-size: 50px !important;
    }
    .fontPubMin{        
        margin-top: -25px !important;
        font-size: 20px !important;
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .beut{
        width: 50%;
    }
    header{
        background-image: url(IMG/BG.jpg);
        background-size: cover;
        background-position: center;
        min-height: 700px;
    }
    .msg-container{
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        border-radius: 10px;
        max-width: 300px !important;
        margin-top: 80% !important;
    }
    .msg-container > *{
        max-width: 250px !important;
    }
    .imgPub{
        display: flex;
        justify-content: center;
        flex-direction: column !important;
        padding: 3%;
    }
    .logoDist{
        margin-top: 30px !important;
        max-height:230px;
    }
    .social{
        margin-right: -10px !important;
    }
    .social > li{
        display: block;
        margin: 8px 0px 8px 0px;
    }
    .contacts > ul > li{
        display: block;
        margin: 8px 0px 8px 0px;
    }
    .copyR{
        font-size: 10px;
        margin-left: 25% !important;
    }
    .cards-services{
        flex-direction: column;
    }
    .unchained{
        background-image: url(../../IMG/unchianedMusic_hover.png);
    }
}

/* ===============================Animations============================================ */
@keyframes shadows {
    0% {
      text-shadow: none;
    }
    10% {
      transform: translate(-3px, -3px);
      text-shadow: 3px 3px 0 lightgrey;
    }
    20% {
      transform: translate(-6px, -6px);
      text-shadow: 3px 3px 0 lightgrey,
        6px 6px 0 rgb(150, 150, 150);
    }
    30% {
      transform: translate(-9px, -9px);
      text-shadow: 3px 3px 0 lightgrey,
        6px 6px 0 rgb(150, 150, 150), 9px 9px rgb(91, 91, 91);
    }
    40% {
      transform: translate(-12px, -12px);
      text-shadow: 3px 3px 0 lightgrey,
        6px 6px 0 rgb(150, 150, 150), 9px 9px rgb(91, 91, 91),
        12px 12px 0 black;
    }
    50% {
      transform: translate(-12px, -12px);
      text-shadow: 3px 3px 0 lightgrey,
        6px 6px 0 rgb(150, 150, 150), 9px 9px rgb(91, 91, 91),
        12px 12px 0 black;
    }
    60% {
      text-shadow: 3px 3px 0 lightgrey,
        6px 6px 0 rgb(150, 150, 150), 9px 9px rgb(91, 91, 91),
        12px 12px 0 black;
    }
    70% {
      text-shadow: 3px 3px 0 lightgrey,
        6px 6px 0 rgb(150, 150, 150), 9px 9px rgb(91, 91, 91);
    }
    80% {
      text-shadow: 3px 3px 0 lightgrey,
        6px 6px 0 rgb(150, 150, 150);
    }
    90% {
      text-shadow: 3px 3px 0 lightgrey;
    }
    100% {
      text-shadow: none;
    }
  }

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--bs-warning), 0 0 40px var(--bs-warning), 0 0 50px var(--bs-warning), 0 0 60px var(--bs-warning), 0 0 70px var(--bs-warning);
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px var(--bs-warning), 0 0 40px var(--bs-warning), 0 0 50px var(--bs-warning), 0 0 60px var(--bs-warning), 0 0 70px var(--bs-warning), 0 0 80px var(--bs-warning);
    }
}